.card img {
  height: 250px;
  padding: 10px;
}

.card {
  border: 2px solid black;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 75px;
  background: white;
  padding-bottom: 15px;
  display: inline-block;
  min-height: 400px;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.card li {
  font-size: 16px;
}

.photo {
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}