ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 16px;
  display: inline-block;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: grey;
  padding: 10px 30px;
}

nav ul li:nth-child(4n) {
  float: right;
  margin-right: 0px;
}

nav ul li {
  float: left;
}