* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1em;
}

footer {
	background: lightgrey;
	padding: 15px;
	margin-top: 25px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
}

header {
	margin-bottom: 15px;
}