* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

body {
  background: #FBFBFB;
  font-size: 1em;
  line-height: 1.25;
  text-align: center;
}

button {
  background: none;
  border: 1px solid black;
  padding: 10px;
}

footer {
  background: #204D72;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.75em;
  padding: 15px;
  width: 100%;
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

header {
  margin-bottom: 15px;
}

input {
  background: white;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 100px;
}

main {
  background: #FBFBFB;
  min-height: 100%;
  padding-bottom: 25px;
}

nav {
  background: #2D806A;
  font-family: 'Quicksand', sans-serif;
  padding: 10px 30px;
  width: 100%;
}

nav li {
  display: inline-block;
  font-size: 16px;
  margin-right: 30px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.blue {
  color: #204D72;
}

.bold {
  font-weight: 700;
}

.card {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 10%;
  display: inline-block;
  margin-top: 20px;
  min-height: 400px;
  padding: 20px;
  width: 100%;
}

.card li {
  font-size: 16px;
  margin-bottom: 10px;
}

.card ul {
  list-style-type: none;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.col-3,
.col-6, 
.col-4,
.col-12 {
  float: left;
  margin-top: 15px;
  padding-left: 1.0416666%;
  padding-right: 1.0416666%;
  width: 100%;
}

.content {
  min-height: calc(100vh - 50px);
}

.detail-page img {
  padding: 10px;
  width: 350px;
}

.detail-page main {
  margin-top: 40px;
}

.footer {
  height: 50px;
}

.hero-section {
  background-attachment: fixed;
  background-image: url("images/french-bulldog-2.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero-section header {
  padding: 300px 0 150px 0;
}

.icon {
  cursor: pointer;
  height: 40px;
  margin: 5px 10px;
}

.info-section {
  background-image: linear-gradient(to bottom right, #2D806A, #527B9D);
  color: white;
}

.info-section section {
  padding: 50px;
}

.login-form {
  font-size: 16px;
  padding: 20px;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 15px;
}

.login-section {
  background: none;
  padding: 10px 30px;
}

.login-section button {
  background: none;
  border: 1px solid white;
  color: white;
  float: right;
  font-size: 16px;
  margin-top: 15px;
  padding: 10px;
}

.logo-font {
  font-family: 'Righteous', cursive;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.medium {
  font-size: 24px;
}

.pad-25 {
  padding-top: 25px;
}

.photo {
  border-radius: 50%;
  height: 200px;
  padding-left: auto;
  padding-right: auto;
  width: 200px;
}

.photo-small {
  border-radius: 50%;
  height: 100px;
  padding-left: auto;
  padding-right: auto;
  width: 100px;
}

.registration-form label {
  display: inline;
}

.row {
  margin: auto auto;
  max-width: 1600px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.row::after {
  clear: both;
}

.row::before,
.row::after {
  content: '';
  display: table;
}

.signup-section {
  padding: 25px 0;
}

.small {
  font-size: 14px;
  margin-bottom: 5px;
}

.teal {
  color: #2D806A;
}

.white {
  color: white;
}

@media only screen and (min-width: 640px) {
  .card {
    max-width: 500px;
    min-height: 400px;
    padding: 20px;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33%;
  }
  .col-6 {
    width: 50%;
  }
  .col-12 {
    width: 100%;
  }
  .hero-section {
    background-position: center;
    background-size: cover;
  }
  .hero-section header {
    padding: 150px 0 150px 100px;
    text-align: left;
  }
  .center {
    display: flex;
    justify-content: center;
  }
}