* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

main {
  background: #FBFBFB;
  padding-bottom: 25px;
  min-height: 100%;
}

input {
  background: white;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 100px;
}

.content {
  min-height: calc(100vh - 50px);
}

.footer {
  height: 50px;
}

body {
  text-align: center;
  font-size: 1em;
  line-height: 1.25;
  background: #FBFBFB;
}

footer {
	background: #204D72;
  font-family: 'Quicksand', sans-serif;
	padding: 15px;
  font-size: 0.75em;
  color: white;
  width: 100%;
}

.logo-font {
  font-family: 'Righteous', cursive;
  letter-spacing: 0.25em;
  font-weight: 600;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.small {
  font-size: 14px;
  margin-bottom: 5px;
}

.medium {
  font-size: 24px;
}

.registration-form label {
  display: inline;
}

nav li {
  font-size: 16px;
  display: inline-block;
  margin-right: 30px; 
}


nav {
  background: #308870;
  width: 100%;
  padding: 10px 30px;
  font-family: 'Quicksand', sans-serif;
}


a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

.card {
  border: 1px solid lightgrey;
  border-radius: 10%;
  margin-top: 20px;
  width: 500px;
  background: white;
  padding: 20px;
  display: inline-block;
  min-height: 400px;
}

.signup-section {
  padding: 25px 0;
}

.blue {
  color: #204D72;
}

.bold {
  font-weight: 700;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.card li {
  font-size: 16px;
  margin-bottom: 10px;
}

.info-section {
  background-image: linear-gradient(to bottom right, #308870, #527B9D);
  color: white;
}

.icon {
  height: 40px;
  margin: 5px 10px;
  cursor: pointer;
}

.photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding-left: auto;
  padding-right: auto;
}

.white {
  color: white;
}

.info-section section {
  padding: 50px;
}

.login-section {
  background: none;
  padding: 10px 30px;
}

button {
  border: 1px solid black;
  background: none;
  padding: 10px;
}

.login-section button {
  margin-top: 15px;
  float: right;
  border: 1px solid white;
  background: none;
  padding: 10px;
  color: white;
  font-size: 16px;
}

.login-form {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 20px;
  text-align: right;
  font-size: 16px;
}

.hero-section header {
  padding: 150px 0 150px 100px;
  text-align: left;

}

.hero-section {
  background-attachment: fixed;
  background-image: url("images/french-bulldog-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
	font-size: 3em;
  margin-bottom: 10px;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
}

header {
	margin-bottom: 15px;
}

.all-matches {
  padding: 100px 0;
}

.detail-page img {
  width: 350px;
  padding: 10px;
}

.detail-page main {
  margin-top: 40px;
}

.detail-page h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.col-6, 
.col-4,
.col-3, 
.col-12 {
  float: left;
  padding-left: 1.0416666%;
  padding-right: 1.0416666%;
  width: 100%;
  margin-top: 15px;
}

.row {
  max-width: 1600px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto auto;
  text-align: center;
}

.row::after {
  clear: both;
}

.row::before,
.row::after {
	display: table;
	content: '';
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
  .col-4 {
    width: 33%;
  }
  .col-3 {
    width: 25%;
  }
  .col-12 {
    width: 100%;
  }
}